:root {
    --background: rgb(243, 230, 216);
    --header: rgb(235, 62, 62);
}
/* CONTAINER COLOR TESTSSS */
body {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;  
    background-color: var(--background);
    /* background-image: url(./images/background-grain.png); */
    border-radius: 10px;
}


#grid-container {
    background-color: var(--header);
    border-bottom: 3px solid #000000;
}


#inputContainer {
    display:flex;
    justify-content: space-around;
    margin: 0 20px 0 0;

}

img {
    display: block;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-family: 'Work Sans', serif;
    font-size: 4.5em; 
    font-weight: bold ;
    
}

h2 {
    font-family: 'Work Sans', serif;
    font-size: 2em; 
    
}

p {
    font-family: 'Work Sans', serif;
    font-size: 1em; 
    
}

.thumbnail {
    border: 3px solid var(--background);
    margin: 5px;
}

.center-form {
    justify-content: center;
    display: flex;
    /* margin: 40px 50px; */
    padding: 30px;
}

.off-canvas {
    background: var(--header);
}

.off-canvas-content {
    display: flex;
    justify-content: center;
}
